---
import Section from "@/components/Section.astro";
import { allRepo } from "../provider/projects";
import RepoCard from "../components/RepoCard.astro";
import Heather from "@/components/Heather.astro";
---

<section class="w-screen h-screen overflow-hiden bg-[#00dddd50]">
  <section
    class="max-w-[920px] mx-auto h-[70%] overflow-y-scroll bg-white shadow-2xl"
  >
    <Heather title={"All Projects"} path={""} />

    <ul
      class="max-w-[920px] h-[92%] overflow-y-scroll bg-white justify-center flex flex-wrap absolute -sleft-[70px]"
    >
      {allRepo.map((element) => <RepoCard Repo={element} />)}
    </ul>
  </section>
</section>
